.button {
  // width: 100%;
  padding-block: 14px;
  border: 1px solid #f0f1f7;
  border-radius: 10px;
  text-align: center;
  background-color: #E50101;
  color: $white-color;
  font-weight: 550;
  font-size: 16px;
  line-height: 20px;
}
